<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hop"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission
        android:name="org.example.ejemplogooglemaps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.example.ejemplogooglemaps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAQMW7hEXW5ZVsjmhtjAEHhSHLZ6Kh5h7M" />

        <activity
            android:name="com.hop.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hop.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.hop.PositionActivity"
            android:label="@string/title_activity_position" >
        </activity>
        <activity
            android:name="com.hop.UserActivity"
            android:label="@string/title_activity_administrador" >
        </activity>
        <activity
            android:name="com.hop.SolicitudActivity"
            android:label="@string/title_activity_solicitud" >
        </activity>
        <activity
            android:name="com.hop.VisitanteActivity"
            android:label="@string/title_activity_visitante" >
        </activity>
        <activity
            android:name="com.hop.VisitanteAddActivity"
            android:label="@string/title_activity_visitante_add" >
        </activity>
        <activity
            android:name="com.hop.UserEditActivity"
            android:label="@string/title_activity_user_edit" >
        </activity>
        <activity
            android:name="com.hop.UserEditNombresActivity"
            android:label="@string/title_activity_user_edit_nombres" >
        </activity>
        <activity
            android:name="com.hop.UserEditPasswordActivity"
            android:label="@string/title_activity_user_edit_password" >
        </activity>
        <activity
            android:name="com.hop.UserEditEmailActivity"
            android:label="@string/title_activity_user_edit_email" >
        </activity>
        <activity
            android:name="com.hop.UserEditTelefonosActivity"
            android:label="@string/title_activity_user_edit_telefonos" >
        </activity>
        <activity
            android:name="com.hop.UserEditDireccionActivity"
            android:label="@string/title_activity_user_edit_direccion" >
        </activity>
        <activity
            android:name="com.hop.SolicitudEditActivity"
            android:label="@string/title_activity_solicitud_edit" >
        </activity>
        <activity
            android:name="com.hop.UserViewActivity"
            android:label="@string/title_activity_user_view" >
        </activity>
        <activity
            android:name="com.hop.LocalViewActivity"
            android:label="@string/title_activity_local_view" >
        </activity>
        <activity
            android:name="com.hop.OfertasActivity"
            android:label="@string/title_activity_ofertas" >
        </activity>
    </application>

</manifest>
